.auth-navbar {
    font-size: 1.25em;
}

.auth-navbar-title {
    font-size: 2em;
    color: white;
}

.navbar > .container {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.introduction {
    margin-left: 5%;
    margin-right: 5%;
}

.heading {
    font-size: 3em;
    color: white;
    margin-top: 30%;
    font-family: 'Roboto Mono', monospace;
}

.sub-heading {
    font-size: 1.5em;
    color: white;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

#welcome-img {
    margin-top: 20%;
    margin-left: 25%;
    width: 120%;
    height: 120%;
}

.rounded-corner {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    padding: 2% 10% 2% 10%;
}

.link-styling {
    color: black;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    line-height: 1.5;
}