.auth-navbar {
    font-size: 1.25em;
}

.auth-navbar-title {
    font-size: 2em;
    color: white;
}

.navbar > .container {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.introduction {
    margin-left: 5%;
    margin-right: 5%;
}

.heading {
    font-size: 3em;
    color: white;
    margin-top: 30%;
    font-family: 'Roboto Mono', monospace;
}

.sub-heading {
    font-size: 1.5em;
    color: white;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

#welcome-img {
    margin-top: 20%;
    margin-left: 25%;
    width: 120%;
    height: 120%;
}

.rounded-corner {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    padding: 2% 10% 2% 10%;
}

.link-styling {
    color: black;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.input-50 {
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 10px;
    width: 50%;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.input-100 {
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.format-form { 
    display: inline-block;
    width: 200px;
    color:beige;
    font-size: larger;
}

.layout {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.margin-top {
    margin-top: 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bigger_size {
    font-size: 1.1em;
    padding-bottom: 1%;
}

.auth_button { 
    background: linear-gradient(135deg, #f0c15d 0%, #f42c90 100%);
    color: antiquewhite;
    font-size: larger;
}

#pw-req {
    color: whitesmoke;
    opacity: 0.8;
}

.antiquewhite {
    color: whitesmoke;
    font-size: larger;
}

.checkbox {
    width: 30px;
    height: 30px;
    margin-bottom: 2%;
}

.filter-option {
    font-size: 1.2em;
    padding-bottom: 20px !important;
} 

[type="checkbox"] {
    vertical-align : middle;
}