.nav-item {
    font-size: 1.5em;
    color: rgb(161, 161, 161);
    margin-right: 15%;
    text-decoration: none;
}

.nav-item:hover, .active, .active:hover {
    font-size: 1.5em;
    color: white;
    margin-right: 15%;
    text-decoration: none;
}

#responsive-navbar-nav {
    margin-left: -6% !important;
}

.navbar-title {
    font-size: 2em;
    color: white;
}

.navbar > .container {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.introduction {
    margin-left: 5%;
    margin-right: 5%;
}

.heading {
    font-size: 3em;
    color: white;
    margin-top: 30%;
    font-family: 'Roboto Mono', monospace;
}

.sub-heading {
    font-size: 1.5em;
    color: white;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

#welcome-img {
    margin-top: 20%;
    margin-left: 25%;
    width: 120%;
    height: 120%;
}

.monospace {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    padding: 2% 10% 2% 10%;
}

.link-styling {
    color: white;
    text-decoration: none;
}

.link-styling:hover {
    color: white;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.width-50 {
    width: 50%;
}


.input-50 {
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 10px;
    width: 50%;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.input-100 {
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.format-form { 
    display: inline-block;
    width: 200px;
    color:beige;
    font-size: larger;
}

.layout {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.margin-top {
    margin-top: 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bigger_size {
    font-size: 1.1em;
    padding-bottom: 1%;
}

.medium_size {
    font-size: 1rem;
    padding-bottom: 0.5%;
}

.auth_button { 
    background: linear-gradient(135deg, #f0c15d 0%, #f42c90 100%);
    color: antiquewhite;
    font-size: larger;
    border-radius: 10px;
}

#pw-req {
    color: whitesmoke;
    opacity: 0.8;
}

.antiquewhite {
    color: antiquewhite;
    font-size: larger;
}

.beige {
    color: beige;
    font-size: larger;
}

.checkbox {
    width: 30px;
    height: 30px;
    margin-bottom: 2%;
}

.filter-option {
    font-size: 1.2em;
    padding-bottom: 20px !important;
} 

[type="checkbox"] {
    vertical-align : middle;
}

[type="radio"] {
    width: 15px;
    height: 15px;
}

.message {
    color: rgb(87, 21, 21);
}

.filter-header {
    font-size: 1.5em;
}

.rounded-corner {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    padding: 2% 10% 2% 10%;
}

.error {
    color: #ac0009;
    font-size: 1.5em;
}

.margin-top-2 {
    margin-top: 2%;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.middle-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

h5 {
    color: rgb(1, 67, 143);
}

.btn-circle.btn-xl {
    padding-right: 10px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-right: 10px;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.title-styling {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.title-styling:hover {
    color: steelBlue;
    text-decoration: none;
    cursor: pointer;
}

.steelBlue {
    color: steelBlue !important;
    cursor: pointer;
}

.forget-pw-link {
    text-decoration: none;
    text-align: center;
    font-size: large;
}

.forget-pw {
    background-color: #f3f3f3;
    padding: 2%;
}

.forget {
    width: 100px;
    margin-right: 1%;
}